# venv
.venv/

# env
.env

# runs
runs



#################################
# yolo_project
# runs
yolo_project/myresult

# model
yolo_project/FastSAM/
yolo_project/model/

# file
yolo_project/bus.jpg
#################################
# cv_project
# model
cv_project/model/
#################################